.sidepanel{
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 370px;
    z-index: 3;
    background-color: rgba(93, 63, 0, .36);
    border-radius:  5px;
    &:hover{
        background-color: #cf9834c7;;
    }
    &__divider{
        width: 1px;
        height: 70px;
        background-color: $second_color;
    }
    &__text{
        font-size: 16px;
        height: 150px;
        width: 25px;
        color: $second_color;
        span{
            transform: rotate(-90deg) translate(-30%, -260%);
            display: block;
            width: 150px;
        }
    }
    @media (max-width: 1439px){
        display: none;
    }

}

